<%- include('partials/header.ejs') %> 

<body>
    <%- include('partials/nav.ejs') %> 

    <h1>Welcome to the <%= name %> Subreddit </h1>
    <h2><%= description %> </h2>
    <p><%= subscribers %> Total Subscribers </p>
    <hr>

    <% for ( let post of posts ){ %> 
        <article>
            <h3><%= post.title %> <i>author: <%= post.author %> </i> </h3>
            <% if (post.img){ %>
                <img src= <%= post.img %> alt="">
            <% } %>  
        </article>
    <% } %>  

</body>
</html>